/* login section */

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    height: 100vh;
}

.login__section {
    display: flex;
    align-items: center;
    gap: 25px;   
    overflow: hidden;
    max-width: 780px;
    width: 100%;
    min-height: 581px;
    background-color: #fff;
    border-radius: 30px;
    filter: drop-shadow(5px 3px 20px rgba(255, 255, 255, 0.40));


}

.login__img {
    background-image: url("../assets/images/login-img.png");
    background-repeat: no-repeat;
    width: 400px;
    min-height: 581px;
    background-size: cover;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.login__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;

}

.login__title {
    color: #252733;
    font-size: 24px;
    font-weight: 600;
    font-family: 'inter' sans-serif;
}

.login__sub-title {
    color: #9FA2B4;
    font-family: 'inter' sans-serif;
    font-size: 13px;
    font-weight: 400;
   
}

.login__form {
    display: flex;
    flex-direction: column;
    max-width: 316px;
    width: 100%;
    
}

.login__input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
}

.login__input-label {
    color: #101010;
    font-size: 12px;
    font-weight: 600;
    font-family: 'inter' sans-serif;
}

.login__input {
    border-radius: 8px;
    border: 1px solid #101010;
    background: #FCFDFE;
    height: 42px;
    max-width: 316px;
    width: 100%;
    padding: 10px 132px 10px 16px;
    outline: none;
    color: #7b7f90;
    font-size: 13px;
    font-weight: 400;
    font-family: 'inter' sans-serif;
}

.login__input::placeholder {
    color: #9FA2B4;
    font-size: 14px;
    font-weight: 400;
    
}


.login__input::-webkit-outer-spin-button,
.login__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



.login__form-button {
    border-radius: 8px;
    background: #101010;
    max-width: 310px;
    width: 100%;
    height: 48px;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
}

.login__form-button:hover {
    background-color: #3f3f3f;
}

.login__txt {
    color: #9FA2B4;
    font-size: 14px;
    font-weight: 400;
    font-family: 'inter' sans-serif;
}

.login__txt a {
    color: #101010;
    font-size: 14px;
    font-weight: 400;
    font-family: 'inter' sans-serif;
}

.login__txt a:hover {
    text-decoration: underline;
}

/* Media Queries */

@media (max-width: 590px) {
    .login__img {
        display: none;
    }

    .login__section {
        justify-content: center;
    }
}